@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*,
*::before,
*::after {

    box-sizing: border-box;
}


* {

    margin: 0;
    font: inherit;
}


img,
svg {

    display: block;
    max-width: 100%;
}


.attribution {
    font-size: 15px;
    text-align: center;
    color: wheat;
}


.attribution a {
    color: hsl(228, 45%, 44%);
}


body {

    font-family: 'Overpass', sans-serif;
    font-size: 0.938rem;
    background-color: hsl(216, 12%, 8%);
    color: hsl(216, 12%, 54%);
}


.main-content {

    display: flex;
    flex-direction: column;
    max-width: 23rem;
    border-radius: 1.5rem;
    padding: 1.8rem;
    margin: 3rem auto;
    background: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 10%), hsl(216, 12%, 10%));
}


.section-content {

    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.svg {

    display: flex;
    place-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: hsl(213, 19%, 18%);
}


.section-content h1 {

    color: hsl(0, 0%, 100%);
    font-size: 1.8rem;
    font-weight: 700;
}


.section-content p {

    color: hsl(216, 12%, 54%);
}


#rate-section {

    display: flex;
    justify-content: space-between;
    color: hsl(216, 12%, 54%);
    border-radius: 1rem;
    font-weight: 700;
}


.btn {

    border: 0;
    display: flex;
    place-items: center;
    place-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
    color: hsl(216, 12%, 54%);
}


.btn:hover {

    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}


.btn:focus {

    background-color: hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}


#btnSubmit {

    border: 0;
    letter-spacing: .2rem;
    padding: .8rem;
    color: hsl(0, 0%, 100%);
    border-radius: 10rem;
    background-color: hsl(25, 97%, 53%);
}


#btnSubmit:hover {

    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
}


.thank-you-state {

    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
}


.thank-you-state.hidden {

    display: none;
}


#rating {

    color: hsl(25, 97%, 65%);
    background-color: hsl(213, 19%, 18%);
    border-radius: 1.5rem;
    width: 11rem;
    padding: .5rem;
}

#thank-you-title {

    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}


@media(min-width:600px) {

    .main-content {

        max-width: 25rem;

    }
}